body,html{
  margin:0;
  padding:0;

}

#navbar a{
  font-size:20px;
  font-weight:normal;
  color:black;


}
#navbar a:hover{
color:grey;
display:block;
}
.navbar-brand{
  font-size:30px;
font-style: italic;
color:black;
}
.navbar{
  animation:nav;
animation-duration:4s;
animation-fill-mode:forwards;
background:transparent;
padding: 2px 2px 2px 3px;
  }
@keyframes nav {
  0%{opacity:0;}
    100%{opacity:1;}
  }
  .shrink{
    background-color: #2a2827;
    height:60px;
    padding:2px 2px 2px 3px;
    font-colors:white;
    opacity: 0;


  }

  .container-fluid{
    margin:0;
  }
.boxleft{
  margin-top:20px;
  position:relative;

}

.image1{
  width:350px;
  height:400px;
  border-radius:20px;
  margin-top:20px;
}
.box-right{
  margin-top:5px;
  font-size:15px;
  border-radius:5px;
  border-color:black;
  border-style:solid;
  text-align:center;

}
h1{
  text-transform: uppercase;
}
footer{
  background-color:#2a2827;
}
.font-class{
  color:white;
  text-decoration:none;
font-weight: bold;

  }
#section3{
  margin-top:30px;
  margin-bottom:20px;
  padding:30px;
}
#section4
{
  border-radius:10px;
  border-color:black;
border-style: solid;
text-align: center;
font-size:15px;

font-weight: bold;
margin:50px 30px 30px 30px;
